body {
  margin: auto;
  background-color: #F0E3CA;
  font-size: 13px;
  width: 90%;
  font-family: Roboto;
  min-width: 800px;
  background-image: url("assets/background.jpg");
  background-size: cover;
}

#wrapper {
  background-color: #F0E3CA;
}

head,
footer,
#wrapper {
  margin-left: 40px;
  margin-right: 40px;
  box-shadow: 0px 2px 5px #bbbfca;
  color: #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #b9af9d;
  overflow: auto;
  margin-bottom: 15px;
}

/* Navbar links */
.navbar a {
  padding: 10px;
  color: #303c63;
  text-decoration: none;
  font-size: 20px;
  margin: auto;
  font-weight: bold;
  border-radius: 10px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #89a6aa;
}
.form-container{
  margin-right: 15px;
}
.form-container button:hover {
  background-color: #89a6aa;
}

.form-container input{
  width: 120px;
  height: 30px;
}

.form-container button{
  height:30px;
  border-radius: 10px;

}

.nav-link {
  display: flex;
  margin: auto;
}

/* Current/active navbar link */
.active {
  background-color: #04aa6d;
}

main {
  /* padding: 0px 0px 66px 0px; */
  background-color: #b4dfe5;
  color: #2b1d0e;
}

/* Slideshow container */
.slideshow-container {
  max-width: 70%;
  position: relative;
  margin: auto;
  justify-content: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

h2 {
  background-color: #F0E3CA;
  font-size: 30px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 1px solid #495464;
  border-right: none;
  border-left: none;
  border-top: none;
  font-family: Helvetica, arial, sans-serif;
}

.flip-card-container {
  display: flex;
  position: relative;
  margin: auto;
  height: 200px;
  /* width: 90%;
  max-width: 980px;
  margin: auto; */

  /* max-width: 800px;
  position: relative;
  margin: auto; */
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  flex: 1;
  overflow: hidden;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  /* -webkit-backface-visibility: hidden; */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: transparent;
  color: black;
  transform: rotateY(180deg);
}

/* ---------- FOOTER ------------ */
.flex-row-container {
  background: #aaa;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-row-item1 {
  flex: 30%;
  background-color: #e8e8e8;
  padding-left: 15px;
  padding-right: 15px;
  height: 175px;
}
.flex-row-item2 {
  flex: 25%;
  background-color: #e8e8e8;
  padding-left: 15px;
  padding-right: 15px;
  height: 175px;
}
.flex-row-item3 {
  flex: 35%;
  background-color: #e8e8e8;
  padding-left: 15px;
  padding-right: 15px;
  height: 175px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

footer {
  background-color: #e8e8e8;
  font-size: 11px;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
}

.sidenav {
  width: 0; /* 0 width - change this with JavaScript */
  float: right;
  position: sticky;
  top: 90px; /* Stay at the top */
  overflow-x: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  background: rgba(244, 151, 108, 0.73);
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-right: 15px;
}

.price-label{
  text-align: right;
  margin-right: 15px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 35px;
  text-decoration: none;
  color: #303c63;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /* border: 1px solid #000000;  */
  transform: rotate(-0.22deg);
  display: flex;
  padding-right: 15px;
  min-height: 100px;
  margin: 5px;
  border-radius: 10px;
  background-color: #F0E3CA;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cart-desc {
  font-family: Roboto;
  color: #303c63;
  margin-top: 10px;
}

.cart-table {
  padding: 10px;
  margin: auto;
}
.cart-table th {
  font-size: 18px;
  padding: 10px;
}
.cart-table td {
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: #303c63;
}

.cart-table tr:nth-child(odd) {
  background-color: #d6eeee;
}

.cart-header {
  margin: auto;
  font-size: 35px;
  font-weight: bold;
  padding: 10px;
}

.cart-delete {
  font-size: 25px;
  text-decoration: none;
  color: #303c63;
}

.img-button {
  width: 116px;
  height: 30px;
  background: #F0E3CA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.img-button-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #303c63;
}

.img-button:hover,
.img-button:focus {
  background-color: black;
  text-decoration: none;
  cursor: pointer;
}

.cart-count{
  position: absolute;
  top: 16px;
  padding: 2px;
  border-radius: 40%;
  background:beige ;
}
.btn-w-icon-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.17em;
  line-height: 28px;
  text-align: center;
  background: #b4dfe5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #303c63;
  text-decoration: none;
  padding: 10px;
}

.btn-w-icon-label img {
  position: relative;
  top: 5px;
}

.btn-w-icon-label:hover,
.btn-w-icon-label:focus {
  background-color: black;
  text-decoration: none;
  cursor: pointer;
}

.header-w-icon {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.17em;
  line-height: 18px;
  text-align: center;
  background: #b4dfe5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #303c63;
  text-decoration: none;
  padding: 10px;
}

.deletebtn {
  position: absolute;
  right: 10px;
  font-size: 25px;
  text-decoration: none;
  color: #303c63;
}
